*{
  margin: 0;
  padding: 0;
}
body {
    background:#33d9b2;
    font-size: 12px;
  }
  
    body, button, input {
    font-family: 'Righteous', cursive;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .menu{
    padding: 20px 15px;
    position: relative;
    font-size: 20px;
    direction: ltr;
  }
  
  li{
    list-style: none;
    display: inline;
    margin: 10px  ;
  }

  .menu-items {
    color: #33d9b2;
    cursor: pointer;
    background-color: none;
    text-decoration: none;
  }
  .menu-items-active {
    color: #c2d5d1;
    cursor: pointer;
    background-color: none;
    text-decoration: none;
  }
  .menu-items:hover {
    color: #218c74;
  }

  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  .screen-body-item{
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item1 {
    flex: 1;
    padding: 30px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .app-title {
    display: flex;
    
    justify-content: center;
    align-items: center;
    color: #33d9b2;
    font-size: 26px;
    text-transform: uppercase;
    border-right: 4px solid #218c74;
    padding: 15px;
  }
  #bulb{
    height: 240px;
    width: 240px;
    margin-bottom: 20px;
    margin-top: 0mm;
  
  }

  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #FFF;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #33d9b2;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
  }
  
  .app-form-button:hover {
    color: #218c74;
  }
  
  .showdata{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding-top: -10px;
    padding-bottom: 10px;
  }

  .switch{
    position: relative;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #218c74;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3e3e3e;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider{
    background-color: aquamarine;

  }
  input:focus+ .slider{
    box-shadow: 0 0 1px aquamarine;

  }
  input:checked + .slider::before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round{
    border-radius: 34px;
  }
  .slider.round::before{
    border-radius: 50%;
  }

